*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    background-color: #4B49A3;
    width: 100%;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    padding: 3rem 1rem;
    line-height: 2rem;
}

.footer-bottom{
    color: white;
    position: absolute;
    bottom: 10px;
    display: flex;
    background-color: #4B49A3;
    width: 100%;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
}

.footer div{
    width: 30%;
    font-weight: bold;
    text-align: center;
}

.services-container{
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.service-head{
    text-align: left;
    margin-bottom: 1rem;
}

.services-list{
    
    list-style: none;
    font-weight: lighter;
    text-align: left;
}

.image-container{
    /* width: 150px; */
    /* border: 2px solid black; */
    height: 30vh;
    background-image: url('./footerimage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: left;

}


.third-box-text{
    margin-bottom: 1rem;
}

.footer-bottom div{
    width: 30%;
    text-align:left;
}

.help{
    display: flex;
    justify-content: center;
    align-items: center;
}


.social-links{
    display: flex;
    list-style: none;
    align-items: center;
}

.sm-icons{
    width: 24px;
    height: 24px;
}

@media screen and (max-width:780px){
    .footer{
        flex-direction: column;
    }

    .footer div{
        display: flex;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .image-container{
        background-position: center;
        margin-bottom: 2rem;
        height: 10rem;
        width: 15rem;
    }

    .premium{
        /* display: none; */
        padding: 0.5rem;
        margin-bottom: 2rem;
    }

    .services-list{
        text-align: center;
        margin-bottom: 2rem;
    }

    .third-box{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-bottom: 2rem;
    }

    .footer-bottom div{
        width: 80%;
        justify-content: center;
        /* border: 2px solid black; */
    }

    .footer-bottom div ul{
        display: flex;
        justify-content: center;
    }

    .footer-bottom{
        flex-direction: column;
        justify-content: center;
    }

    .email p{
        text-align: center;
    }
}